@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.rounded {
  border-radius: 2px;
}

.rounded4 {
  border-radius: 4px;
}

.bordered {
  border: thin solid gray;
}

.padded {
  padding: 1rem;
}

.search form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr 128px;
      grid-template-columns: 200px 1fr 128px;
  padding: 1rem;
  gap: 8px;
  height: 32px;
  min-width: 800px;
}

.search form input[type="search"] {
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
  border-bottom: 2px solid #ff6600;
  background-color: rgba(250, 250, 250, 0.3);
}

.search form input[type="search"]:focus, .search form input[type="search"]:hover {
  outline: none;
  background-color: rgba(250, 250, 250, 0.7);
}

.search form input[type="submit"] {
  background-color: #ff6600;
  border: 1px solid #ff6600;
  border-radius: 4px;
  color: #ffffff;
}

.search form input[type="submit"]:hover {
  color: #ff6600;
  background-color: #ffffff;
  cursor: pointer;
}

.search form .option label {
  margin-left: 4px;
  margin-right: 4px;
}

.search form .option label input {
  margin-top: -2px;
  vertical-align: middle;
}

header {
  padding: 0.5em 1em;
  min-width: 800px;
}

header .site-identity {
  float: left;
}

header .site-identity img {
  max-width: 55px;
  max-height: 55px;
  border-radius: 50%;
  border: 2px solid black;
  float: left;
  margin: 0 10px 0 0;
}

header .site-identity h1 {
  font-size: 1.5em;
  margin: 0.5em 0 0.5em 0;
  display: inline-block;
}

header .site-navigation {
  float: right;
}

header .site-navigation li {
  display: inline-block;
}

header .site-navigation li a {
  text-decoration: none;
  display: block;
  padding: 1em 1.5em;
  border-radius: 4px;
  color: black;
}

header .site-navigation li a:hover {
  background-color: black;
  color: white;
}

header .site-navigation li form button {
  font-size: 100%;
  display: block;
  border: none;
  background: none;
  padding: 1em 1.5em;
  border-radius: 4px;
  color: black;
}

header .site-navigation li form button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1rem;
  min-width: 800px;
  color: #ffffff;
}

footer .footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 0.5fr;
      grid-template-columns: 1fr 1fr 0.5fr;
}

footer .footer h4 {
  padding: 1rem;
}

footer .footer ul {
  list-style-type: none;
  margin-left: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (32px)[4];
      grid-template-rows: repeat(4, 32px);
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px 1fr;
      grid-template-columns: 32px 1fr;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer .footer ul li a {
  text-decoration: none;
  color: #ffffff;
}

footer .footer .sponsors ul li {
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer .sponsors ul li img {
  height: 32px;
  width: 32px;
}

footer .copyright {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 2rem;
}

.spacer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.center {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.styled-table {
  border-collapse: collapse;
  width: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #ff6600;
  color: #ffffff;
  text-align: left;
  text-transform: capitalize;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody {
  background-color: rgba(255, 255, 255, 0.6);
}

.styled-table tbody tr {
  border-bottom: 1px solid #cccccc;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #e6e6e6;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #ff6600;
}

.styled-table tbody tr .active-row {
  font-weight: bold;
  color: #ff8533;
}

.bookdetails {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(400px, 0.25fr) 1fr;
      grid-template-columns: minmax(400px, 0.25fr) 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
      grid-template-areas: "cover ." "cover ." "cover ." "cover ." "cover ." "cover ." "cover .";
  padding: 1rem;
  width: 60%;
  min-width: 800px;
  border-radius: 8px;
  margin-bottom: 1rem;
  -webkit-box-shadow: 1px 1px 8px #999;
          box-shadow: 1px 1px 8px #999;
}

.bookdetails img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  -ms-grid-column: 1;
  grid-area: cover;
  place-self: center;
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 10px darkgrey;
          box-shadow: 4px 4px 10px darkgrey;
}

.bookdetails div {
  padding: 1rem 1.2rem;
}

.bookdetails div h3 {
  text-transform: capitalize;
}

.bookdetails button {
  margin: 1rem;
}

form[name="signin"],
form[name="signup"] {
  min-width: 800px;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (48px)[3];
      grid-template-rows: repeat(3, 48px);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  row-gap: 12px;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

form[name="signin"] .error,
form[name="signup"] .error {
  color: red;
}

form[name="signin"] input,
form[name="signup"] input {
  padding: 2px 1rem;
  letter-spacing: 1px;
}

form[name="signin"] label,
form[name="signup"] label {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: right;
  text-transform: capitalize;
}

form[name="signin"] span,
form[name="signup"] span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: small;
  text-transform: capitalize;
}

form[name="signup"] {
  -ms-grid-rows: (48px)[4];
      grid-template-rows: repeat(4, 48px);
}

.swiper {
  width: 800px;
  height: 450px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 8px gray;
          box-shadow: 1px 1px 8px gray;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  border-radius: 3px;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.swiper .swiper-slide {
  display: -ms-grid;
  display: grid;
}

.swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.swiper .swiper-slide h4 {
  position: absolute;
  bottom: 8px;
  right: 8px;
  max-width: 80%;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 3px;
}

.bg-a {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.container {
  margin: 1rem;
}

.container h2,
.container h3 {
  padding-bottom: 8px;
}

.width80 {
  width: 80%;
}

.width90 {
  width: 90%;
}

.center-top {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.left-pad {
  padding-left: 1rem;
}

.noticeboard {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 8px gray;
          box-shadow: 1px 1px 8px gray;
}

.noticeboard h2 {
  padding: 0.5rem;
}

.noticeboard ul {
  list-style-type: none;
}

.noticeboard ul li {
  padding: 0.5rem;
  margin: 0.5rem;
  background: #ff6600;
  color: #ffffff;
  border-radius: 2px;
}

.has-shadow {
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}

.about-page {
  background-color: rgba(255, 102, 0, 0.8);
  color: white;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}

.about-page p {
  padding: 0.5rem 0;
  color: #f9f9f9;
}

.book {
  min-width: 100%;
  min-height: 200px;
  place-self: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.75);
}

.book img {
  width: auto;
  height: 100px;
  padding-top: 1rem;
}

.book p {
  padding: 0 8px;
}

.book:hover {
  background-color: rgba(255, 102, 0, 0.85);
  color: #ffffff;
}

.bookgrid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
  gap: 24px;
}
/*# sourceMappingURL=styles.css.map */